<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% config.env.each do |key, value| %>
      <tr>
        <td width="10"><code><%= key %></code></td>
        <td><code><%= value %></code></td>
        <td align="right">
          <a href="#" data-toggle="modal" data-target="#edit-key" data-config-key="<%= key %>" data-config-value="<%= value %>" data-config-url="<%= config_key_path(@channel, key) %>"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
