<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= @project %><%= " / #{@pipeline}" if @pipeline %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style type="text/css">
      .avatar { width: 24px; height: 24px; border-radius: 16px; }

      .build-history .release-build.glyphicon-plus, .build-history .release-build.glyphicon-minus {
        display: none;
        cursor: pointer;
      }

      .build-history td:hover .release-build { display: inline; }
    </style>
  </head>
  <body>

    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Starfish</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% @projects.flat_map(&:pipelines).each do |pipeline| %>
                <li><a href="<%= builds_path(pipeline) %>"><%= pipeline.project %> / <%= pipeline %></a></li>
              <% end %>
              <li class="divider"></li>
              <li><a href="<%= setup_path %>">Add project...</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><%= current_user.name %></a>
          </li>

          <li>
            <a href="/auth/signout">Sign out</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
