<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= @project %><%= " / #{@pipeline}" if @pipeline %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <style type="text/css">
      .avatar { width: 24px; height: 24px; border-radius: 16px; border: 1px solid white; }

      .build-history .release-build.glyphicon-plus, .build-history .release-build.glyphicon-minus {
        display: none;
        cursor: pointer;
      }

      .build-history td:hover .release-build { display: inline; }
    </style>
  </head>
  <body>

    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Starfish</a>
        </div>

        <div class="collapse navbar-collapse" id="global-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% @projects.each do |project| %>
                  <li><a href="<%= project_path(project) %>"><%= project %></a></li>
                <% end %>
                <li class="divider"></li>
                <li><a href="<%= setup_path %>">Add project...</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs">
              <a href="#"><%= current_user.name %></a>
            </li>

            <li>
              <a href="/auth/signout">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
      <% if flash? %>
        <div class="row">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= flash %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>
    </div>

    <script>
      // Make all <time> tags with the `relative` class show relative times.
      $('time.relative').each(function() {
        var $time = $(this);
        var ts = moment($time.attr('datetime'));
        $time.text(ts.fromNow());
      });
    </script>
  </body>
</html>
