<%= erb :project_navigation %>

<div class="panel panel-default">
  <% if @pipeline.builds.any? %>
    <div class="table-responsive">
      <table class="table build-history">
        <thead>
          <tr>
            <th rowspan="2">Build</th>
            <th rowspan="2">Status</th>
            <th rowspan="2">Approved</th>
            <th rowspan="2">Author</th>
            <th rowspan="2">Commit</th>

            <% @pipeline.channels.group_by(&:environment).each do |environment, channels| %>
              <th style="text-align:center; border-left:1px solid #ddd; border-bottom:0" colspan="<%= channels.count %>"><%= environment %></th>
            <% end %>
          </tr>

          <tr>
            <% @pipeline.channels.group_by(&:environment).each do |environment, channels| %>
              <% channels.each_with_index do |channel, index| %>
                <th <%= 'style="border-left:1px solid #ddd"' if index == 0 %>><%= channel %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @pipeline.builds.reverse.each do |build| %>
            <tr data-build-number="<%= build.number %>" class="build <%= 'success' if @pipeline.channels.any? {|c| c.current_build == build } %>">
              <th width="10"><a href="<%= build_path(build) %>"><%= build %></a></th>

              <td width="10" align="center"><%= build_status(build) %></td>

              <td width="10" align="center" class="approval-status">
                <% if build.approved? %>
                  <span class="glyphicon glyphicon-ok text-success" title="Approved by <%= build.approved_by %>"></span>
                <% else %>
                  <span class="glyphicon glyphicon-thumbs-up" title="Approve this build"></span>
                <% end %>
              </td>

              <td width="10" align="center">
                <%= erb :avatar, locals: { user: build.author } %>
              </td>

              <td><%= build.summary %></td>

              <% @pipeline.channels.group_by(&:environment).values.flatten.each do |channel| %>
                <td width="20" align="center" class="channel-status" data-channel="<%= channel.slug %>" data-channel-release-url="<%= releases_path(channel) %>?build=<%= build.number %>">
                  <% if channel.current_build.nil? || channel.current_build.number < build.number %>
                    <span class="glyphicon glyphicon-plus text-muted release-build" title="Release this build"></span>
                  <% elsif channel.current_build == build %>
                    <span class="glyphicon glyphicon-ok text-success" title="Current build"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-minus text-muted release-build" title="Release this build"></span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="panel-body">
      <center><p class="lead">Push to your repository to trigger your first build</p></center>
    </div>
  <% end %>
</div>

<script>
  function pruneBuildIndicators() {
    $(".build.success").removeClass("success");
    $(".build").has(".channel-status .text-success").addClass("success");
  }

  $(".build").on('click', '.release-build', function() {
    var $indicator = $(this);
    var $row = $indicator.closest(".build");
    var channel = $indicator.parent("td").data("channel");
    var build = parseInt($row.data("build-number"));
    var releaseUrl = $indicator.parent("td").data("channel-release-url");

    console.log("Releasing ", build);

    $indicator.removeClass("glyphicon-plus");
    $indicator.removeClass("glyphicon-minus");
    $indicator.removeClass("release-build");
    $indicator.addClass("glyphicon-refresh");

    $.post(releaseUrl, function() {
      $(".build.success .channel-status span").each(function() {
        if (channel === $(this).parent("td").data("channel")) {
          var thisBuild = parseInt($(this).closest(".build").data("build-number"));

          if (thisBuild !== build) {
            $(this).removeClass("glyphicon-ok");
            $(this).removeClass("text-success");
            $(this).addClass("release-build");
            $(this).addClass("text-muted");
          }

          if (thisBuild < build) {
            $(this).addClass("glyphicon-minus");
          } else {
            $(this).addClass("glyphicon-plus");
          }
        }
      });

      $indicator.removeClass("glyphicon-refresh");
      $indicator.addClass("glyphicon-ok");
      $indicator.removeClass("text-muted");
      $indicator.addClass("text-success");
      $row.addClass("success");
      pruneBuildIndicators();
    });
  });

  $(".build").on("click", ".approval-status", function() {
    var $indicator = $(this);
    var buildNumber = $indicator.parent(".build").data("build-number");

    $("#approve-build").find("input[name=build_number]").val(buildNumber);
    $("#approve-build").find("span[data-var=build_number]").text(buildNumber);
    $("#approve-build").modal();
  });
</script>

<div class="modal fade" id="approve-build">
  <div class="modal-dialog">
    <form action="<%= build_approvals_path(@pipeline) %>" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Approve Build</h4>
        </div>

        <div class="modal-body">
          <input type="hidden" name="build_number">
          <p>Are you sure you want to approve build #<span data-var="build_number"></span> for release?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Approve Build #<span data-var="build_number"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>
