<%= erb :project_navigation %>

<div class="panel panel-default">
  <% if @pipeline.builds.any? %>
    <div class="table-responsive">
      <table class="table build-history">
        <thead>
          <tr>
            <th>Build</th>
            <th>Status</th>
            <th>Author</th>
            <th>Commit</th>

            <% @pipeline.channels.each do |channel| %>
              <th><%= channel %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @pipeline.builds.reverse.take(100).each do |build| %>
            <tr data-build-number="<%= build.number %>" class="build">
              <th width="10"><a href="<%= build_path(build) %>"><%= build %></a></th>

              <td width="10" align="center"><%= status_indicator(build.status) %></td>

              <td width="10" align="center">
                <%= erb :avatar, locals: { user: build.author } %>
              </td>

              <td>
                <% if pr = build.pull_request %>
                  <a href="<%= pull_path(pr) %>">#<%= pr.number %></a> <%= pr.title %>
                  <% pr.reviews.each do |review| %>
                    <%= review.state %> by <%= review.author %>
                  <% end %>
                <% else %>
                  <%= build.summary %>
                <% end %>

                <small class="text-muted">
                  &mdash;

                  <%= relative_time(build.timestamp) %>

                  <% if build.commits.count > 1 %>
                    &middot;
                    <%= build.commits.count %> commits
                  <% end %>

                </small>
              </td>

              <% @pipeline.channels.each do |channel| %>
                <td width="20" align="center" class="channel-status" data-channel="<%= channel.slug %>" data-channel-release-url="<%= releases_path(channel) %>?build=<%= build.number %>">
                  <% if channel.current_build.nil? || channel.current_build.number < build.number %>
                    <span class="glyphicon glyphicon-plus text-muted release-build" title="Release this build"></span>
                  <% elsif channel.current_build == build %>
                    <span class="label label-info"><%= channel.current_release %></span>
                  <% else %>
                    <span class="glyphicon glyphicon-minus text-muted release-build" title="Release this build"></span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="panel-body">
      <center><p class="lead">Push to your repository to trigger your first build</p></center>
    </div>
  <% end %>
</div>

<script>
  $(".build").on('click', '.release-build', function() {
    var $indicator = $(this);
    var $row = $indicator.closest(".build");
    var channel = $indicator.parent("td").data("channel");
    var build = parseInt($row.data("build-number"));
    var releaseUrl = $indicator.parent("td").data("channel-release-url");

    console.log("Releasing ", build);

    console.log($indicator);
    $indicator.removeClass("glyphicon-plus");
    $indicator.removeClass("glyphicon-minus");
    $indicator.removeClass("release-build");
    $indicator.addClass("glyphicon-refresh");

    $.post(releaseUrl, function(data) {
      $(".build .channel-status span").each(function() {
        if (channel === $(this).parent("td").data("channel")) {
          var thisBuild = parseInt($(this).closest(".build").data("build-number"));

          if (thisBuild === build) {
            $(this).text(data.version);
            $(this).removeClass("glyphicon");
            $(this).removeClass("glyphicon-refresh");
            $(this).addClass("label");
            $(this).addClass("label-info");
          } else {
            $(this).addClass("release-build");
            $(this).addClass("glyphicon");
            $(this).addClass("text-muted");
            $(this).removeClass("label");
            $(this).removeClass("label-info");
            $(this).text("");
          }

          if (thisBuild < build) {
            $(this).addClass("glyphicon-minus");
          } else if (thisBuild > build) {
            $(this).addClass("glyphicon-plus");
          }
        }
      });

      $indicator.removeClass("glyphicon-refresh");
      $indicator.removeClass("text-muted");
    });
  });
</script>
