<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><a href="/">Projects</a></li>
    <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
    <li class="active">Pipelines</li>
  </ol>

  <% if @project.pipelines.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Branch</th>
          <th></td>
          <th>Channels</th>
        </tr>
      </thead>
      <tbody>
        <% @project.pipelines.each do |pipeline| %>
          <tr>
            <td><a href="<%= pipeline_path(pipeline) %>"><%= pipeline.name %></a></td>
            <td><code><%= pipeline.branch %></code></td>
            <td><span class="glyphicon glyphicon-arrow-right"></span>
            <td>
              <% pipeline.channels.each do |channel| %>
                <span class="label label-default"><%= channel %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="panel-footer">
      <input type="button" class="btn btn-default" data-toggle="modal" data-target="#add-pipeline" value="Add pipeline...">
    </div>
  <% else %>
    <div class="panel-body">
      <p class="lead">Define a pipeline to get started</p>
      <p>A pipeline controls how commits to a Git branch get turned into builds and released into your infrastructure.</p>
      <input type="button" class="btn btn-default" data-toggle="modal" data-target="#add-pipeline" value="Add pipeline...">
    </div>
  <% end %>
</div>

<div class="modal fade" id="add-pipeline">
  <div class="modal-dialog">
    <form action="<%= pipelines_path(@project) %>" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add pipeline</h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
              <label for="pipeline_name">Pipeline name</label>
              <input type="text" class="form-control" name="pipeline_name" value="Production">
              <span class="help-block">E.g. <q>Staging</q>, <q>Production</q>, etc.</span>
            </div>

            <div class="form-group">
              <label for="pipeline_branch">Branch</label>
              <input type="text" class="form-control" name="pipeline_branch" placeholder="Pipeline branch" value="master">
              <span class="help-block">Pushing commits to this branch will cause a new <em>build</em> to be created.</span>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Pipeline</button>
        </div>
      </div>
    </form>
  </div>
</div>
