<%= erb :project_navigation %>

<div class="panel panel-default">
  <% if @pipeline.builds.any? %>
    <div class="table-responsive">
      <table class="table build-history">
        <thead>
          <tr>
            <th>Build</th>
            <th>Status</th>
            <th>Author</th>
            <th>Commit</th>

            <% @pipeline.channels.each do |channel| %>
              <th><%= channel %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @pipeline.builds.reverse.each do |build| %>
            <tr data-build-number="<%= build.number %>" class="build <%= 'success' if @pipeline.channels.any? {|c| c.current_build == build } %>">
              <th width="10"><a href="<%= build_path(build) %>"><%= build %></a></th>

              <td width="10" align="center"><%= status_indicator(build.status) %></td>

              <td width="10" align="center">
                <%= erb :avatar, locals: { user: build.author } %>
              </td>

              <td>
                <% if pr = build.pull_request %>
                  <a href="<%= pull_path(pr) %>">#<%= pr.number %></a> <%= pr.title %>
                <% else %>
                  <%= build.summary %>
                <% end %>

                <% if build.commits.count > 1 %>
                  <small class="text-muted">(<%= build.commits.count %> commits)</small>
                <% end %>
              </td>

              <% @pipeline.channels.each do |channel| %>
                <td width="20" align="center" class="channel-status" data-channel="<%= channel.slug %>" data-channel-release-url="<%= releases_path(channel) %>?build=<%= build.number %>">
                  <% if channel.current_build.nil? || channel.current_build.number < build.number %>
                    <span class="glyphicon glyphicon-plus text-muted release-build" title="Release this build"></span>
                  <% elsif channel.current_build == build %>
                    <span class="glyphicon glyphicon-ok text-success" title="Current build"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-minus text-muted release-build" title="Release this build"></span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="panel-body">
      <center><p class="lead">Push to your repository to trigger your first build</p></center>
    </div>
  <% end %>
</div>

<script>
  function pruneBuildIndicators() {
    $(".build.success").removeClass("success");
    $(".build").has(".channel-status .text-success").addClass("success");
  }

  $(".build").on('click', '.release-build', function() {
    var $indicator = $(this);
    var $row = $indicator.closest(".build");
    var channel = $indicator.parent("td").data("channel");
    var build = parseInt($row.data("build-number"));
    var releaseUrl = $indicator.parent("td").data("channel-release-url");

    console.log("Releasing ", build);

    $indicator.removeClass("glyphicon-plus");
    $indicator.removeClass("glyphicon-minus");
    $indicator.removeClass("release-build");
    $indicator.addClass("glyphicon-refresh");

    $.post(releaseUrl, function() {
      $(".build.success .channel-status span").each(function() {
        if (channel === $(this).parent("td").data("channel")) {
          var thisBuild = parseInt($(this).closest(".build").data("build-number"));

          if (thisBuild !== build) {
            $(this).removeClass("glyphicon-ok");
            $(this).removeClass("text-success");
            $(this).addClass("release-build");
            $(this).addClass("text-muted");
          }

          if (thisBuild < build) {
            $(this).addClass("glyphicon-minus");
          } else {
            $(this).addClass("glyphicon-plus");
          }
        }
      });

      $indicator.removeClass("glyphicon-refresh");
      $indicator.addClass("glyphicon-ok");
      $indicator.removeClass("text-muted");
      $indicator.addClass("text-success");
      $row.addClass("success");
      pruneBuildIndicators();
    });
  });
</script>
