<%= erb :project_navigation %>

<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
    <li><a href="<%= pipeline_path(@pipeline) %>"><%= @pipeline %></a></li>
    <li class="active">Pull Requests</li>
  </ol>

  <% if @pipeline.pull_requests.any? %>
    <table class="table build-history">
      <tbody>
        <% @pipeline.pull_requests.each do |pull_request| %>
          <tr>
            <th width="10">#<%= pull_request.number %></th>
            <td><a href="<%= pull_path(pull_request) %>"><%= pull_request.title %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="panel-body">
      <p>No open pull requests at the moment.</p>
    </div>
  <% end %>
</div>
