<%= erb :project_navigation %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Build <%= @build %></h3>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Commit:</dt>
      <dd><code><%= @build.commit %></code></dd>

      <dt>Pipeline:</dt>
      <dd><code><%= @build.pipeline %></code></dd>

      <dt>Container image:</dt>
      <dd><code><%= @build.image %></code></dd>

      <% @build.statuses.each do |status| %>
        <dt><%= status.name %>:</dt>
        <dd><%= status.value %></dd>
      <% end %>
    </dl>

    <table class="table">
      <thead>
        <tr>
          <th>SHA</th>
          <th>Author</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% @build.commits.each do |commit| %>
          <tr>
            <td width="10"><code><%= commit.sha %></code></td>
            <td><%= commit.author %></td>
            <td><%= commit.message %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
