<%= erb :project_navigation %>

<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
    <li><a href="<%= pipeline_path(@pipeline) %>"><%= @pipeline %></a></li>
    <li><a href="<%= pulls_path(@pipeline) %>">Pull Requests</a></li>
    <li class="active"><%= @pull_request %></li>
  </ol>

  <div class="panel-body">
    <h3><%= @pull_request %></h3>
  </div>
</div>
