<%= erb :project_navigation %>

<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
    <li><a href="<%= pipeline_path(@pipeline) %>"><%= @pipeline %></a></li>
    <li><a href="<%= channel_path(@channel) %>"><%= @channel %></a></li>
    <li class="active">Release <%= @release %></li>
  </ol>

  <div class="panel-body">
    <p>
      <%= @release.author %> <%= erb @release.event_name, locals: { event: @release.event } %>
    </p>

    <h5>Config</h5>
    <%= erb :config_table, locals: { config: @release.config } %>
  </div>
</div>
