<%= erb :project_navigation %>

<div class="panel panel-default">
  <div class="panel-body">
    <h4>Build <%= @build %></h4>
    <dl class="dl-horizontal">
      <dt>Commit:</dt>
      <dd><code><%= @build.commit %></code></dd>

      <dt>Pipeline:</dt>
      <dd><code><%= @build.pipeline %></code></dd>

      <% if @build.image %>
        <dt>Container image:</dt>
        <dd><code><%= @build.image %></code></dd>
      <% end %>

      <% @build.statuses.each do |status| %>
        <dt><%= status.name %>:</dt>
        <dd><%= status.value %></dd>
      <% end %>
    </dl>

    <h4>Changes</h4>
    <table class="table">
      <tbody>
        <% @build.changes.each do |filename, status| %>
          <tr>
            <td width="10"><%= change_status(status) %></td>
            <td><code><%= filename %></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h4>Commits</h4>
    <table class="table">
      <thead>
        <tr>
          <th>SHA</th>
          <th>Author</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% @build.commits.each do |commit| %>
          <tr>
            <td width="10"><code><%= commit.sha %></code></td>
            <td><%= commit.author %></td>
            <td><%= commit.message %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
