<div class="panel-body">

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Commit</div>
        <div class="panel-body">
          <blockquote>
            <p style="white-space:pre-wrap"><%= @build.commit.message %></p>
            <footer>
              <cite><%= commit_link(@build.commit) %> by <%= @build.commit.author %></cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Status Checks</div>
        <table class="table">
          <tbody>
            <% @build.status_checks.each do |status| %>
              <tr>
                <td width="10">
                  <%= status_indicator(status) %>
                </td>

                <td>
                  <strong><%= status.name %>:</strong> <%= status.description %>
                </td>

                <td align="right"><a href="<%= status.url %>">Details</a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
