<%= erb :project_navigation %>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>Build <%= @build %></h3>
    <blockquote>
      <p><%= @build.commit.message %></p>

      <footer>
        <cite><code><%= @build.commit %></code> by <%= @build.commit.author %></cite>
      </footer>
    </blockquote>

    <h4>Changes</h4>
    <table class="table">
      <tbody>
        <% @build.changes.each do |filename, status| %>
          <tr>
            <td width="10"><%= change_status(status) %></td>
            <td><code><%= filename %></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h4>Commits</h4>
    <table class="table">
      <thead>
        <tr>
          <th>SHA</th>
          <th>Author</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% @build.commits.each do |commit| %>
          <tr>
            <td width="10"><code><%= commit.sha %></code></td>
            <td><%= commit.author %></td>
            <td><%= commit.message %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
