<%= erb :project_navigation %>

<div class="panel panel-default">
  <table class="table build-history">
    <thead>
      <tr>
        <th>Build</th>
        <th>Status</th>
        <th>Approved</th>
        <th>Authors</th>

        <% @pipeline.channels.each do |channel| %>
          <th><%= channel %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @pipeline.builds.reverse.each do |build| %>
        <tr class="<%= 'success' if @pipeline.channels.any? {|c| c.current_build == build } %>">
          <th width="10"><a href="<%= build_path(build) %>"><%= build %></a></th>

          <td width="10" align="center"><%= build_status(build) %></td>

          <td width="10" align="center"><% if build.approved? %><span class="glyphicon glyphicon-thumbs-up"></span><% end %></td>

          <td>
            <% build.authors.each do |author| %>
              <%= erb :avatar, locals: { user: author } %>
            <% end %>
          </td>

          <% @pipeline.channels.each do |channel| %>
            <td width="20" align="center">
              <% if channel.current_build == build %>
                <span class="glyphicon glyphicon-ok text-success" title="Current build"></span>
              <% elsif channel.current_build.number < build.number %>
                <span class="glyphicon glyphicon-plus text-muted release-build" title="Release this build"></span>
              <% else %>
                <span class="glyphicon glyphicon-minus text-muted release-build" title="Release this build"></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
