<ol class="breadcrumb">
  <li><a href="/">Projects</a></li>
  <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
  <li class="active"><%= @pipeline %></li>
</ol>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= pipeline_path(@pipeline) %>"><%= @project %>: <%= @pipeline %></a>
    </div>

    <ul class="nav navbar-nav">
      <% pipeline_nav_items(@pipeline).each do |title, path, active| %>
        <li class="<%= 'active' if active %>"><a href="<%= path %>"><%= title %></a></li>
      <% end %>
    </ul>
  </div>
</nav>
