<ol class="breadcrumb">
  <li><a href="<%= projects_path %>">Projects</a></li>
  <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
  <li class="active"><%= @pipeline %></li>
</ol>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= pipeline_path(@pipeline) %>"><%= @project %> / <%= @pipeline %></a>
    </div>

    <ul class="nav navbar-nav">
      <% pipeline_nav_items(@pipeline).each do |title, path, active| %>
        <li class="<%= 'active' if active %>"><a href="<%= path %>"><%= title %></a></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= @pipeline %> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% @project.pipelines.each do |pipeline| %>
            <li><a href="<%= pipeline_path(pipeline) %>"><%= pipeline %></a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
