<%= erb :project_navigation %>

<table class="table">
  <thead>
    <tr>
      <th>Build</th>
      <th>Status</th>
      <th>Authors</th>
      <th colspan="<%= @project.channels.count %>">Channels</th>
    </tr>
  </thead>
  <tbody>
    <% @project.master_branch.builds.reverse.take(15).each do |build| %>
      <tr class="<%= 'success' if @project.channels.any? {|c| c.current_build == build } %>">
        <th width="10"><a href="<%= build_path(build) %>"><%= build %></a></th>

        <td width="10"><%= build_status(build) %></td>

        <td><%= build.authors.join(", ") %></td>

        <% @project.channels.each do |channel| %>
          <td width="20">
            <% if channel.current_build == build %>
              <span class="label label-success"><%= channel %></span>
            <% elsif channel.current_build.number < build.number %>
              <span class="label label-default"><%= channel %></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
