<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="<%= project_path(@project) %>"><%= @project %></a></li>
  <li class="active"><code><%= @branch %></code></li>
</ol>

<h2><%= @project %> / <%= @branch %></h2>

<h3>Builds</h3>
<ul>
  <% @branch.builds.reverse.each do |build| %>
    <li><a href="<%= build_path(build) %>"><%= build %></a></li>
  <% end %>
</ul>
