<%= erb :project_navigation %>

<ol class="breadcrumb">
  <li><a href="<%= branches_path(@project) %>">Branches</a></li>
  <li><a href="<%= branch_path(@branch) %>"><code><%= @branch %></code></a></li>
  <li class="active">Build <%= @build %></li>
</ol>

<h3>Build <%= @build %></h3>

<dl class="dl-horizontal">
  <dt>Commit:</dt>
  <dd><code><%= @build.commit %></code></dd>

  <dt>Branch:</dt>
  <dd><code><%= @build.branch %></code></dd>

  <dt>Container image:</dt>
  <dd><code><%= @build.image %></code></dd>

  <% @build.statuses.each do |status| %>
    <dt><%= status.name %>:</dt>
    <dd><%= status.value %></dd>
  <% end %>
</dl>
