<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= @project %></li>
</ol>

<h3>Master builds</h3>
<%= erb :build_table, locals: { builds: @project.master_branch.builds } %>

<h3>Channels</h3>
<table class="table">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Release</th>
      <th>Build</th>
    </tr>
  </thead>
  <tbody>
    <% @project.channels.each do |channel| %>
      <tr>
        <th><a href="<%= channel_path(channel) %>"><%= channel %></a></th>
        <td><a href="<%= release_path(channel.current_release) %>"><%= channel.current_release %></a></td>
        <td><a href="<%= build_path(channel.current_build) %>"><%= channel.current_build %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Branches</h3>
<ul>
  <% @project.branches.each do |branch| %>
    <li><a href="<%= branch_path(branch) %>"><%= branch %></a></li>
  <% end %>
</ul>

